<a href="https://colab.research.google.com/github/harishsdev/NLP/blob/main/nlp_finetuning_algos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd /content/drive/MyDrive/twitter-disaster-prediction-dataset-master.zip (Unzipped Files)

/content/drive/MyDrive/twitter-disaster-prediction-dataset-master.zip (Unzipped Files)

1.load the library

2.load the dataset

3.declare the mlalgo to use

3.train it 

4.predict it

Finetuing of ML Algorithms:-

1.PCA

2.LDA

3.NMF

4.TSVD

In [2]:
!ls

twitter-disaster-prediction-dataset-master

In [3]:
%cd twitter-disaster-prediction-dataset-master/

/content/drive/My Drive/twitter-disaster-prediction-dataset-master.zip (Unzipped Files)/twitter-disaster-prediction-dataset-master

In [4]:
!ls

README.md  train.csv

In [5]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
df=pd.read_csv(r'train.csv')

In [7]:
df

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]